--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0

datasets==2.21.0
tqdm==4.66.4

transformers==4.43.3
trl==0.9.6
accelerate==0.33.0
datasets==2.21.0
peft==0.12.0